body {
  margin: 0;
  overflow-y: hidden;
  background-color: #e0e3da;
}

h6 {
  text-align: center;
}

@font-face {
  font-family: 'bokutachi';
  src: local('bokutachi'), url(./fonts/bokutachi.otf) format('truetype');
}

@font-face {
  font-family: 'oxygenMono';
  src: local('oxygenMono'), url(./fonts/oxygenMono.otf) format('truetype');
}

@font-face {
  font-family: 'koruri';
  src: local('koruri'), url(./fonts/Koruri-Regular.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
