body {
  margin: 0;
  overflow-y: hidden;
}

@font-face {
  font-family: 'bokutachi';
  src: local('bokutachi'), url(./fonts/bokutachi.otf) format('truetype');
}

@font-face {
  font-family: 'oxygenMono';
  src: local('oxygenMono'), url(./fonts/oxygenMono.otf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
